body{
  background: black;
  color: white;
}
.top-content {
  height: 390px;
  width: 844px;
  margin-top: 96px;
  text-align: center;
  color: white;
}
.sec-two {
  padding-top: 30px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}
.sec-two span {
  margin-right: 28px;
}
.date{
  background-image: url(/images/date.png);
}
       ul {
  list-style-type: none;
}

li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}

li:before {
  content: '';
  background-color: #FFCF96;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 6px;
  width: 3px;
}

li:after {
  content: '';
  background-color: #FFCF96;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 2px;
  height: 12px;
  width: 12px;
}